body {
    background-image: linear-gradient(to bottom right, #380036 , #0CBABA);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    margin: 0px;
}

h1 {
    color: #fff;
}

.file_upload {
    color: #fff;
}

#upload_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 60px;
    background-color: #fff;
    color: black;
    padding: 15px;
    width: 40%;
    border-radius: 5px;
}

section label {
    color: black;
}
